#
# Standard Maven .gitignore
#
**/target/
# release.properties
# dependency-reduced-pom.xml
# buildNumber.properties
# .mvn/timing.properties

#
# IntelliJ
#
*.iml
.idea/*
!.idea/runConfigurations/

#
# Eclipse
#
**/.settings/
#.classpath
#.project

#
# Visual Studio Code
#
.vscode/

*.pem
